<div class="row mb-3">
  <ap-action-card-circular-header
    class="col-2 col"
    style="display: flex; justify-content: center; flex-direction: column"
    [icon]="icon"
    [dateNow]="dateNow"
    [color]="color"
  ></ap-action-card-circular-header>
  <div
    class="col-9 card"
    style="border-radius: 10px; background-color: rgb(255, 255, 255)"
  >
    <div class="row" style="height: 100%">
      <div class="row col-4">
        <div
          class="col-md"
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            /* background-color: green; */
          "
        >
          <img
            [src]="action.user ? action.user.user_image : defaultImage"
            id="profileImage"
          />
        </div>
        <div
          class="col-md"
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            /* background-color: yellow; */
          "
        >
          <p
            style="
              font-size: 20px;
              font-weight: 600;
              margin-bottom: 0px;
              /* text-align: center; */
            "
          >
            {{ action.user ? action.user.user_name : defaultName }}
          </p>
          <p
            style="
              color: #656970;
              font-size: 17px;
              font-weight: 600;
              /* text-align: center; */
            "
            *ngIf="action.user"
          >
            {{ action.user.user_title }}
          </p>
        </div>
      </div>
      <div
        class="col-8"
        style="display: flex; flex-direction: column; justify-content: center"
      >
        <blockquote class="blockquote mb-0">
          <p>{{ action.description_en }}</p>
          <!-- <footer class="blockquote-footer">
            {{ dateNow.getHours() }} : {{ dateNow.getMinutes() }}
          </footer> -->
        </blockquote>
      </div>
    </div>
  </div>
</div>
